
<% layout('../layouts/mainLayout') -%>
<% script('/backend/static/js/main.js') -%>

<input id="redirect" type="text" class="d-none" 
    value="<%= redirect.queryString ? redirect.queryString : '' %>"
    projectId="<%= redirect.projectId ? redirect.projectId : '' %>"
    featureId="<%= redirect.featureId ? redirect.featureId : '' %>" />

<div class="main-page">
    welcome
</div>

<div id="preview" class="sidebar sidebar-lg" data-role="sidebar">
    <div class="sky"></div>
    <div class="sidebar-content">
        <div class="sidebar-header">
            <h3 class="mb-0">預覽</h3>
            <div class="dismiss" data-toggle="sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="sidebar-body">
            <iframe class="main-block" src="" style="width: 100%;"></iframe>
        </div>
    </div>
</div>