<% layout('../../../views/layouts/noLayout') -%>

<% script(`/backend/projects/${ projectId }/public/javascripts/traceLog.js`) -%>

<div class="overflow-auto" tab="traceLog">
    <div class="container-fluid">
        <div class="form-group form-group-marginless mb-3 pt-4">
            <!-- <div class="d-flex justify-content-between align-items-center"> -->
                <h3>使用歷程 </h3>
            <!-- </div> -->
        </div>
        <div class="mt-4">
            <div class="border rounded shadow-sm my-2 p-2">
                <div class="d-flex justify-content-start align-items-center sticky-top">
                    <!-- <button id="range_All" class="btn btn-outline-primary rounded-circle p-0 mr-2" type="button" style="width:2rem; height:2rem;">ALL</button> -->
                    <button id="range_Mondh" class="btn btn-outline-primary rounded-circle p-0 mr-2" type="button" style="width:2rem; height:2rem;">月</button>
                    <button id="range_Week" class="btn btn-outline-primary rounded-circle p-0 mr-2" type="button" style="width:2rem; height:2rem;">周</button>
                    <button id="range_Day" class="btn btn-outline-primary rounded-circle p-0 mr-2" type="button" style="width:2rem; height:2rem;">日</button>
                    <!-- <span class="mr-2">|</span> -->
                    <div class="input-group input-group-sm w-50 mr-2" content="search-period">
                        <input type="text" id="startDt" class="form-control" input-content="datepicker" autocomplete="off" placeholder="YYYY/MM/DD">
                        <div class="input-group-append">
                            <span class="mx-2">~</span>
                        </div>
                        <input type="text" id="endDt" class="form-control" input-content="datepicker" autocomplete="off" placeholder="YYYY/MM/DD">
                        <div class="input-group-append">
                            <span class="mx-2">|</span>
                        </div>
                        <input type="text" id="sessionId" class="form-control" autocomplete="off" placeholder="SESSION ID">
                    </div>
                    <!-- <span class="mr-2">|</span> -->
                    <button action="search" type="button" class="btn btn-sm btn-primary mr-2">查詢</button>
                    <button action="download" type="button" class="btn btn-sm btn-outline-primary">下載</button>
                </div>
            </div>
            <div class="table-responsive">
                <table id="" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>時間</th>
                            <th>SESSION ID</th>
                            <th>動作</th>
                            <th>內容</th>
                            <th>回覆</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

