
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <div class="btn btn-link btn-sm ml-2" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </div>
  <a class="navbar-brand">智能客服管理後台</a>
  
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></form><!-- Navbar-->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="userDropdown" role="button"><i class="fas fa-user fa-fw"></i></a>
      <div aria-labelledby="userDropdown" class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" id="logout">Logout</a>
      </div>
    </li>
  </ul>
</nav>