 * {
  box-sizing: border-box;
}

img {
  border: none;
}
.float_l {
  float: left;
}

.float_r {
  float: right;
}



#backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 22;  /* 12/21 change */
  display: none;
}

.modal {
  background: #fff;
  border-radius: 5px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 300px;
  height: 135px;
  padding: 15px;
  margin: auto;
  display: none;
  z-index: 100;
  text-align: center;
  box-shadow:0px 6px #5a5657;
}


.modal .ctobject {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 100px; /*修改20201208-fish*/
  margin: auto;
  vertical-align: center;
}


.modal .ctobject h1 {
  padding: 0;
  margin: 0;
  font-size: 22px;
  line-height: 50px;
}



.modal .ctobject .modal-input {
  display: inline-block;
  line-height: 50px;
}



.ctobject .modal-input input {
  font-family: Microsoft JhengHei;
  width: 130px;
  height: 38px;
  color: #ffffff;
  background-color: #929398;
  border: 1px solid;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin: 0 10px;
  font-size: 20px;
  transition: all .3s;
  text-align: center; /* 12/11 new */
  line-height: 20px;  /* 12/11 new */
}

.ctobject .modal-input input:hover {
  color: white;
  background-color: #00A484;
}

.modal-close{
  position:relative;
  left: 130px;
  bottom: 10px;
}

.modal-close button{
  border: none;
  background: transparent;
}

.modal-close button:focus {
  outline: none;
}

.modal-close i {
  color: #929398;
  font-size: 23px;
}
.modal-close i:hover {
  color: #00A484;
}



#backdrop.visible {
  display: block;
  pointer-events: all !important;
}

.modal.visible {
  display: block;
  pointer-events: all !important;
}


.button a {
  clear: both;
  display: block;
  width: 100px;
  height: 27px;
  padding: 5px 0 0 22px;
  margin-top: 15px;
  background: url('../../img/tooplate_button.png') no-repeat;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.button a:hover {
  background: url('../../img/tooplate_button_hover.png') no-repeat;
}

/* end of main */


/* =========================================================== */

/* 12/7 change height width */
.contentParent {
  font-family: Microsoft JhengHei;
  height: 620px; /*0116 change*/
  width: 360px; /*0116 change*/
  position: fixed;
  bottom: 25px; /*修改20201208-fish*/
  right: 25px;  /*修改20201208-fish*/
  z-index: 21; /*新增20201208-fish*/
}

.chat-column {
  border: 2px solid #E60027;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #EFEFEF;
}

.responsive-column {
  flex: 1;
  overflow: auto;
  height: 100%; /*新增20201208-fish*/
}

.wrap {
  font-weight: bold; /*文字粗細*/
  color: #fff;
  border: solid  #E60027;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background: #E60027;
  padding: 10px;
  font-size: 18px;
}

#topDIV {
  float: right;
  line-height: 20px;
  user-select: none;
}

#topDIV button {
  position: relative;  
  display: inline-block;
  color: #EE2737;
  border: none;
  background: transparent;
  vertical-align: middle;
  bottom: 5px;
  font-size: 25px; /*1/24 change*/
}

#topDIV button:focus {
  outline: none;
}



  /* 12/7 change font-size */
.bottitle {
  display: inline-block;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: 3px;
  user-select: none;
}

.icons {
  float: right;
  line-height: 20px;
  user-select: none;
}

.icons button {
  position: relative;  
  display: inline-block;
  color: #fff;
  border: none;
  background: transparent;
}

.icons button:focus {
  outline: none;
}

.icons i {
  vertical-align: middle;
  font-size: 20px;
}

.icons button:last-child {
  vertical-align: middle;
  bottom: 5px;
}

.icons button:last-child i {
  font-size: 24px;
}


/*修改20201208-fish*/
.chatBotClose:hover, .refresh:hover, .crop:hover , .star:hover{
  color: #ecb3a4;
  cursor: pointer;
}

/*修改20201208-fish*/
.chatBotClose:active, .refresh:active, .crop:active , .star:active{
  color: #8D9093;
  cursor: pointer;
}

.botFix {
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  bottom: 0 !important;
  right: 0 !important;
}

.viewAll {
  width: 100% !important;
  height: 100% !important;
  bottom: 0;
  right: 0;
}

/* change 20210105 */
#pmpm {
  /* width: 12em; /
  / margin: auto; /
  / border: 1px solid #896C4C; */
  border-radius: 5px;
  color: #595657;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  padding: 5px;
  letter-spacing: 4px;
}

/* 12/11 change typingbot style */
#typingbot {
  color: #adadad;
  background-color: #e4e4e4;
  line-height: 19px;
  font-size: 15px;
  padding: 3px 6px;
}

.send {
  color: #EE2737;
  cursor: pointer;
  user-select: none;
  font-size: 23px;
}

.user-typing {
  flex: 0;
  border: none;
  color: #E60027;
  margin: 0.75rem;
  font-size: 15px;
}

#scrollingChat {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 15px;  /* 12/11 new */
  overflow-y: auto; /*scroll*/
  overflow-x: hidden;
  flex: 1;
}
/* 12/21 change */
#scrollingChat::-webkit-scrollbar {
  width: 9px;
}
/* 12/21 new */
#scrollingChat::-webkit-scrollbar-thumb {
  background-color: #d0d0d0; 
  border: solid 0px;
  border-radius: 5px;
}
/* 12/21 new */
#scrollingChat::-webkit-scrollbar-button {
  display: none;
}

/* style 2 && user dialog box start */
.from-user {
  text-align: right;
}

.from-user .message-inner.usertext {
  position: relative;
  font-size: 15px;
  color: #FFFFFF;
  /*letter-spacing: 0.015rem; 文字間距*/
  line-height: 1.3125rem;  /*文字行高*/
  background: #F29A76;
  border-radius: 10px;  /* 12/11 change */
  border-top-right-radius: 0;
  text-align: left;
  display: inline-block;
  margin: 0rem 0rem 1rem 2.5rem;
  max-width: 260px;       /* 12/12 change */
  word-wrap: break-word;  /* 12/12 new */
  word-break: normal;     /* 12/12 new */
}

.from-user .message-inner p {
  margin: 0.3125rem;
  padding: 0 5px;
}

.from-watson .message-inner.watsontext {
  padding-left: 32px;
  font-weight: bold;  /* 12/11 new */
}

  /*0116 new*/
  .from-watson .message-inner{
    padding-left: 25px;
  }
  
  /* 0122 new */
  .from-watson .message-inner.watsontext p{
    margin-bottom: 10px;    
    margin-right: 50px;  /* 0201 new  */
    /* margin: 0px 50px 10px 0px; */
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
    background-color: #e7e7e7;
  }
  
.from-watson .message-inner p {
  margin-bottom: 12px;  /*下邊界*/
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 8px;
}

.from-watson, .message-inner {
  position: relative;
  border-radius: 10px;
  font-size: 1rem;
  color: #595657;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  
}

.from-watson.latest .message-inner {
  color: #595657;
}

.from-watson p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* 12/7 new */
.from-watson.latest.top p {
  font-weight: bold;
  /* margin-bottom: 15px; */
  padding-right: 25px;
}
.from-watson.latest.top p:before {
  content: url("../../img/logo.png");  /*向網頁增加新內容*/
  background-size: 23px 33px;  /* 12/11 change */
  position: absolute;
  z-index: 1;
  left: 0px;
  top: -1px;  /* 12/11 new */
}
/* style 2 && user dialog box end */


/*welcome button start */
/*12/4 new welcome(style 1) button style*/

/* 12/7 change margin-bottom margin-top */
.one .welcome p {
  /* margin-bottom: 12px;  下邊界*/ /*1/24 change*/
  margin-top: 12px;
  margin-left: 0px;
}

.one, .welcome {  /* 會影響logo跟著文字移動的地方 */
  position: relative;
  border-radius: 10px;
  font-size: 1rem;
  color: #595657;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
}

.one .welcome {
  color: #595657;
}

.one p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.one.welcomeTop .welcome p{
  font-size: 16px;
  font-weight: bold;
  padding-left: 32px;
}

.one.welcomeTop .welcome p:before {
  content: url("../../img/logo.png");  /*向網頁增加新內容*/
  background-size: 24px 28px;
  position: absolute;
  z-index: 1;
  left: 0px;
}

.one.welcomeSub .welcome p .options-button {
  width: 100%;
  height: 90px;
  border: none;
  border-radius: 0;
  background: url('../../img/Q4.png');
  background-position: 2px 3px;
  background-repeat:no-repeat;
  background-color: #fff;
  text-align: center;
  line-height: 90px;
  font-weight: bold; /*文字粗細*/
  font-size: 21px;
  letter-spacing:3px;
  color: #C7000A;
}

.one.welcomeSub .welcome p .options-button:after {
  content: '>';
  color: #D0D0D0;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  right: 10%;   /* 12/11 change */
}

.one.welcomeSub .welcome p .options-button:hover {
  border: none;
  border-radius: 0;
  background: url('../../img/Q2.png');
  background-position: 2px 3px;
  background-repeat:no-repeat;
  background-color: #E5E5E5;
  text-align: center;
  line-height: 90px;
  font-weight: bold; /*文字粗細*/
  font-size: 21px;
  letter-spacing:3px;
  color: #C7000A;
}

.one.welcomeSub .welcome p .options-button:hover:after {
  content: '>';
  color: #C7000A;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  right: 10%;  /* 12/11 change */
}

.options-button-visited {
  border: 1px solid #D0D0D0;
  color: #595657;
  background-color: white;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  min-width: 145px;
  min-height: 50px;
  margin: 0 4px 4px 0;
  padding: 0 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none !important;
}

.one.welcomeSub .welcome p .options-button-visited {
  width: 100%;
  height: 90px;
  border: none;
  border-radius: 0;
  background: url('../../img/Q4.png');
  background-position: 2px 3px;
  background-repeat:no-repeat;
  background-color: #fff;
  text-align: center;
  line-height: 90px;
  font-weight: bold; /*文字粗細*/
  font-size: 21px;
  letter-spacing:3px;
  color: #C7000A;
}

.one.welcomeSub .welcome p .options-button-visited:after {
  content: '>';
  color: #C7000A;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  right: 10%;  /* 12/11 change */
}
/*welcome button end*/

/* style 3 dialog box start */
/*12/11 new style 3 button style*/

.blackBox, .blackBox-inner {
  display: inline-block;     /* 12/12 new */
  position: relative;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  
}
.blackBox .blackBox-inner.watsontext p {
  margin-bottom: 10px;  /*下邊界*/
  margin-left: 32px;
  margin-right: 50px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: #D0D0D0;
  color: #0D0D0D;
  
}

.blackBox .blackBox-inner.usertext p {
  margin-bottom: 12px;  /*下邊界*/
  margin-left: 32px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 50px;
}

.blackBox .blackBox-inner p .options-button {
  padding: 5px 10px 5px 10px;  /*1/24 change*/
  margin: 0px 5px 5px 0px;     /*1/24 change*/
  min-width: auto;
  min-height: auto;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: #D0D0D0;              
  color: #0D0D0D;
  text-align: center;
  line-height: normal;
}

  /*1/24 delete*/
  /* .blackBox .blackBox-inner p .options-button:after {
    content: '>';
    color: #0D0D0D;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    left: 5px;
  } */
  
  .blackBox .blackBox-inner p .options-button:hover {
    padding: 5px 10px 5px 10px;  /*1/24 change*/
    margin: 0px 5px 5px 0px;     /*1/24 change*/
    min-width: auto;
    min-height: auto;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: #D0D0D0;
    color: #E60012;
    text-align: center;
    line-height: normal;
  }
  /*0219 ADD*/
  .blackBox .blackBox-inner p #url {
    padding: 5px 25px 5px 10px;  
    margin: 0px 5px 5px 0px;     
    min-width: auto;
    min-height: auto;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background-image: url("./img/連結_0d0d0d icon.png"); 
    background-repeat: no-repeat;                                    
    background-position: bottom 5px right 4px;                       
    background-color: #D0D0D0;              
    color: #0D0D0D;
    text-align: center;
    line-height: normal;
  }

  /*0219 ADD*/
  .blackBox .blackBox-inner p #url:hover {
    padding: 5px 25px 5px 10px;  
    margin: 0px 5px 5px 0px;
    min-width: auto;
    min-height: auto;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background-image: url("./img/連結_e60012 icon.png"); 
    background-repeat: no-repeat;                                    
    background-position: bottom 5px right 4px;                       
    background-color: #D0D0D0;
    color: #E60012;
    text-align: center;
    line-height: normal;
  }

  /*0219 modify*/
  .blackBox .blackBox-inner p #download {
    padding: 5px 25px 5px 10px;  
    margin: 0px 5px 5px 0px;     
    min-width: auto;
    min-height: auto;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background-image: url("./img/下載_0d0d0d_icon.png"); 
    background-repeat: no-repeat;                                    
    background-position: bottom 5px right 4px;                       
    background-color: #D0D0D0;              
    color: #0D0D0D;
    text-align: center;
    line-height: normal;
  }

  /*0219 modify*/
  .blackBox .blackBox-inner p #download:hover {
    padding: 5px 25px 5px 10px;  
    margin: 0px 5px 5px 0px;
    min-width: auto;
    min-height: auto;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background-image: url("./img/下載_e60012_icon.png"); 
    background-repeat: no-repeat;                                    
    background-position: bottom 5px right 4px;                       
    background-color: #D0D0D0;
    color: #E60012;
    text-align: center;
    line-height: normal;
  }
  
  /*1/24 new*/
  .blackBox .blackBox-inner p #mailto{  /* 0219 change name */
    padding: 5px 25px 5px 10px;
    margin: 0px 5px 5px 0px; /*0116 change*/
    min-width: auto;
    min-height: auto;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background-image: url("./img/寄信_0d0d0d_icon.png");
    background-repeat: no-repeat;
    background-position: bottom 5px right 4px;
    background-color: #D0D0D0;
    color: #0D0D0D;
    text-align: center;
    line-height: normal;
  }
  
  /*1/24 new*/
  .blackBox .blackBox-inner p #mailto:hover{ /* 0219 change name */
    padding: 5px 25px 5px 10px;
    margin: 0px 5px 5px 0px; /*0116 change*/
    min-width: auto;
    min-height: auto;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background-image: url("./img/寄信_e60012_icon.png");
    background-repeat: no-repeat;
    background-position: bottom 5px right 4px;
    background-color: #D0D0D0;
    color: #E60012;
    text-align: center;
    line-height: normal;
  }

  /*1/24 delete*/
  /* .blackBox .blackBox-inner p .options-button:hover:after {
    content: '>';
    color:  #E60012;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    left: 5px;
  } */
.blackBox .blackBox-img p {
  background-repeat:no-repeat;
  background-image: url(../../img/logo.png);
  width: 24px;
  height: 33px;
  position: absolute;
  left: 0px;
  float: left;
}
.blackBox-visited{
  padding: 5px 20px 5px 10px;  /*1/24 change*/
  margin: 0px 5px 0px 0px;
  min-width: auto;
  min-height: auto;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: #D0D0D0;
  color: #E60012;
  text-align: center;
  line-height: normal;
  display: inline-block;
}

  /*1/24 delete*/
  /* .blackBox-visited:after {
    content: '>';
    color:  #E60012;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    left: 5px;
  } */
  
.blackBox-visited:hover,.blackBox-visited:visited {
  padding: 5px 20px 5px 10px;  /*1/24 change*/
  margin: 0px 5px 0px 0px;
  min-width: auto;
  min-height: auto;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: #D0D0D0;
  color: #E60012;
  text-align: center;
  line-height: normal;
  text-decoration: none;
}

  /*1/24 delete*/
  /* .blackBox-visited:hover:after,.blackBox-visited:visited:after {
    content: '>';
    color:  #E60012;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    left: 5px;
    text-decoration: none;
  } */
  

/* style 3 dialog box end */

/* style 4 dialog box start */
/*12/11 new style 4 button style*/

.finishClick p {
  padding: 0px 0px 3px 36px;
  font-size: 11px;
  color: #00A484;
  font-weight: bold;
}

/* style 4 dialog box end */


#textInput {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  height: 2.5rem;
  max-width: 100%;
  padding-left: 0.125rem;
}

.inputOutline {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0 0 5px 5px;
  margin-bottom: 0rem; /*新增20201208-fish*/
}

.hide {
  display: none;
}

.chatimg {
  width: 300px;
  box-shadow: 1px 1px 1px 1px #aaa;
  border-radius: 4px;
}

.options-list {
  color: #EE2737;
  cursor: pointer;
}

/*12/7 change min-width padding */
.options-button {
  border: 1px solid #D0D0D0;
  color: #595657;
  background-color: white;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  min-width: 145px;
  min-height: 50px;
  margin: 0 4px 4px 0;
  padding: 0 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none !important;
}

.options-button:hover{
  border: 1px solid #E60021;
  color: #E60021;
}

/*12/7 change margin-left*/
.outside {
  width: 3000px;
  overflow: hidden;
  margin-left: -75px;   /*1/22 change*/
  padding-left: 75px; /*0116 change*/
  padding-top: 3px;
}

.slider {
  position: relative;
  margin: 0 0 2px;
  transition: 0.5s;
  font-size: 0;
  z-index: 2;
}

/*12/7 change border */
.from-watson.latest .message-inner .slider .inside {  /* 12/12 change */
  background-color: #fff;
  border: 1px solid #D0D0D0;
  display: inline-block;
  width: 230px;
  margin-right: 10px;
  margin-left: 0px;
  border-radius: 5px;
  vertical-align: top;
}
.from-watson.latest .message-inner .inside{   /* 12/12 change */
  background-color: #fff;
  border: 1px solid #D0D0D0;
  display: inline-block;
  width: 230px;
  margin-right: 10px;
  /* margin-left: 30px;   12/12 new */ /*1/22 change*/
  border-radius: 5px;
  vertical-align: top;
}
.inside img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 160px;
  vertical-align: middle;
}
/*12/7 change font-weight color border-top font-size padding */
.inside h4, .inside h3 {
  font-weight: normal;
  color: #929398;
  border-top: 1px solid #D0D0D0;
  background-color: #fff;
  font-size: 15px;
  margin: 0;
  padding: 5px 5px 2.5px;
}

/*12/7 change font-size padding */
.inside h4 {
  padding: 2.5px 5px 5px;
  border: 0;
  font-size: 14.5px;
}

/*12/7 change color border-top font-size */
.from-watson.latest .message-inner .inside a {  /* 12/12 change */
  display: block;
  padding: 5px;
  background-color: #fff;
  border-top: 1px solid #D0D0D0;
  font-size: 14px;
  outline: none;
  color: #929398;
  text-decoration: none !important;
  text-align: center;
  cursor: pointer;
  height: auto;
  user-select: none;
}

/*12/7 change all */
.from-watson.latest .message-inner .inside a:hover {  /* 12/12 change */
  background-color:#D0D0D0;
  font-weight: bold;
  color: #E60012;
}


.inside a:last-child {
  border-radius: 0 0 5px 5px;
}

.left, .right {
  margin-left:-5px;
  margin-right: -5px;
  border: 0px solid;
  color: white;
  outline: none;
  position: absolute;
  top: 35%;
  font-size: 30px;
  background-color: rgba(145, 146, 151, 0.8);
  cursor: pointer;
  padding: 5px;
  user-select: none;
  height: 100px;
  width: 25px;
  z-index: 2;
}

.left:hover, .right:hover{
  background-color: rgba(88, 85, 86, 0.8);
}

.right {
  right: 0;
}

.left {
  left: 0;
}